@using EShop.Service.DataTransferObjects;
@model ProductDTO

<form method="post" asp-page-handler="test" class="card border border-primary" style="min-height: 100%">
    <img class="card-img-top border border-primary" src="@("Img/" + Model.ImgUrl)" alt="@Model.Name" />
    <div class="card-body m-0 p-0 ">
        <h5 class="card-header p-1">@Model.Name</h5>
        <p class="card-text m-1 ">@Model.Description.Substring(0, 75)...</p>
    </div>
    <p class="m-0">@Model.Price€</p>
    <button type="submit" class="btn btn-success rounded-top-0">Add To Cart</button>
</form>